<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Driving Behavior Analysis System (Group 10)</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


  </head>
  <body>

      <nav class="hNav">
        <ul>
          <li><a class="nav-item" href="/">Group 10</a></li>
          <li class="nav-item">
            <a class="nav-item">Driver Behavior Analysis System</a>
          </li>
        </ul>
      </nav>
    
      <nav class="vNav">
        <ul>
          <li><a class="nav-item" href="/">Home</a></li>
          <li><a href="/summary">Summary Report</a></li>
          <li><a href="/driver">Driver Monitoring System</a></li>
        </ul>
      </nav>
      
      <main class="container">
        <div class="bg-light p-5 rounded">
            <form action="/monitor">
                <h1>Choose the driver you want to monitor</h1><br>

                <select class="form-select" id="driverID" name="driverID" size="10" aria-label="size 10 select example">
                    <option selected value="zengpeng1000000">zengpeng1000000</option>
                    <option value="xiexiao1000001">xiexiao1000001</option>
                    <option value="hanhui1000002">hanhui1000002</option>
                    <option value="likun1000003">likun1000003</option>
                    <option value="shenxian1000004">shenxian1000004</option>
                    <option value="panxian1000005">panxian1000005</option>
                    <option value="xiezhi1000006">xiezhi1000006</option>
                    <option value="zouan1000007">zouan1000007</option>
                    <option value="haowei1000008">haowei1000008</option>
                    <option value="duxu1000009">duxu1000009</option>
                  </select>
                  <br>
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Select</button>
                  </div>
              </form>
              
        <br><br>
        <div class="bg-light p-0 rounded">    
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-secondary btn-sm" href="/" role="button">Back</a>
              </div>     
            
          </div>
      </main>
  </body>
</html>